@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@media screen and (max-width: 780px) {
    .show-on-desktop {
      display: none;
    }
  }
  
  @media screen and (min-width:  481px) {
    .hide-on-desktop {
      display: none;
    }
  }

  @keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px }
  }

  .stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block
  }

  .stars {
    background: #000 url("/stars.png") repeat top center;
    z-index: 0;
  }
  
  .twinkling {
    background: transparent url("/twinkling.png") repeat top center;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
  }

  .contentContainer {
    .controls {
      display: flex;
      left: 0;
      bottom: 0;
      z-index: 3;
      transform: translateY(2rem);
      justify-content: center;

      .previousContainer,
      .nextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 4.5rem;
        width: 4.5rem;
      }

      .previousContainer:hover,
      .nextContainer:hover {
        border: #F8C8DC 2px solid;
      }

      .disabled {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: 2px solid transparent;
          transition: border-color 0.3s ease, transform 0.3s ease;
          height: 4.5rem;
          width: 4.5rem;
          cursor: initial;
      }
    }
  }

  .imagesContainer {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    position: relative;
    padding: 10px;

    .firstContainer {
      z-index: 2;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .first {
        border-radius: 1.5625rem;
        border: 5px solid var(--Red, #eb575);
        height: auto;
        width: clamp(20rem, 22.5vw, 25rem);
      }
    }

    .secondContainer {
      z-index: 1;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .second {
        border-radius: 1.5625rem;
        border: 5px solid var(--Red, #eb575);
        height: auto;
        width: clamp(20rem, 22.5vw, 25rem);
      }
    }

    .thirdContainer {
      z-index: 0;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .third {
        border-radius: 1.5625rem;
        border: 5px solid var(--Red, #F8C8DC);
        height: auto;
        width: clamp(20rem, 22.5vw, 25rem);
      }
    }
  }

  @media screen and (max-width: 1199px) {
    .carouselContainer {
      padding: 0 1vw;
    }
  }

  @media screen and (max-width: 950px) {
    .carouselContainer {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      height: 100vh;
      width: 100vw;
      padding: 15px;

      .contentContainer{
        padding: 5rem 0 5rem 0;

        .imagesContainer {
          padding: 5rem 0 5rem 0;

          .controls {
            padding: 0 0 5rem 0;
            transform: translateY(8rem);
          }
        }
      }
    }
  }